.card-container {
  width: 90%;
  margin: 5rem auto;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 2rem 1rem;
  overflow-y: hidden;
}

.card-container tr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 5rem;
  height: 7rem;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 1rem 2rem;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(224, 210, 192);
}

.card-down {
  top: 7rem;
}

.card-up {
  top: 0;
}

.card-up:active {
  scale: 0.95;
}